<mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>home</mat-icon> Home
      </ng-template>
      <h3>Home Content</h3>
      <p>Welcome to the Home page!</p>
    </mat-tab>
  
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>person</mat-icon> Profile
      </ng-template>
      <h3>Profile Content</h3>
      <p>This is your profile info.</p>
    </mat-tab>
  
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>settings</mat-icon> Settings
      </ng-template>
      <h3>Settings Content</h3>
      <p>Change your settings here.</p>
    </mat-tab>
  </mat-tab-group>
  